<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="header :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${success} != null" class="alert alert-success" role="alert">
                <p>Registration success</p>
                <p>Click <a href="/" class="alert-link"/>here</a> to go back to the Homepage.</p>
            </div>
            <div th:if="${success} == null" class="alert alert-danger" role="alert">
                <p  >Registration failed</p>
                <p>Click <a href="/" class="alert-link"/>here</a> to go back to the Homepage.</p>
            </div>
        </div>
    </div>
</div>



<a th:href="@{/}">Main page</a>


</body>
</html>